body {
    background-image: linear-gradient(to right, #4888cb, #ffffff, #f3f360);
}

button {
    font-size: 35px;
    color: darkblue;
    cursor: pointer;
    border: none;
    background: white;
}

#ayuda{
    float: right;
    height: 30px;
    width: 30px;
    color: darkblue;
    cursor: pointer;
    border: none;
    background: none;
}

#cash {
    background-color: aliceblue;
    width:90%;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 50px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #1320d4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}