button {
    font-size: 35px;
    color: darkblue;
    cursor: pointer;
    border: none;
    background: none;
}

#ayuda{
    float: right;
    height: 30px;
    width: 30px;
    color: darkblue;
    cursor: pointer;
    border: none;
    background: none;
}

#cash {
    background-color: aliceblue;
    width:90%;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 50px;
}
