body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right, #4888cb, #ffffff, #f3f360);
}

h1 {
    color: #333;
    text-align: center;
}

p {
    color: #000000;
    text-align: center;
}